name: Check

on:
  push:
    branches:
      - main
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  check-auth-service:
    name: Check Auth-Service
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Run Cargo Check
        working-directory: auth-service
        run: cargo check
      - name: Run Cargo Clippy (Linter)
        working-directory: auth-service
        run: cargo clippy -- -D warnings
      - name: Run Cargo Test
        working-directory: auth-service
        run: cargo test

  check-bookshelf-service:
    name: Check Bookshelf-Service
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.22"
          cache: false
      - name: Build
        working-directory: bookshelf-service
        run: go build ./...
      - name: Test
        working-directory: bookshelf-service
        run: go test ./...

  check-app:
    name: Check App
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: '3.32.5'
      - name: Get Dependencies
        working-directory: bookshelf_app
        run: flutter pub get
      - name: Run Builder
        working-directory: bookshelf_app
        run: dart pub run build_runner build --delete-conflicting-outputs
      - name: Analyze Code
        working-directory: bookshelf_app
        run: flutter analyze
      - name: Run Tests
        working-directory: bookshelf_app
        run: flutter test
